---
const {
  navs = [
    { href: "/", label: "Home" },
    { href: "/aadhaar", label: "Aadhaar", id: "adhar" },
    { href: "/dl", label: "Driving License", id: "dl" },
    { href: "/pan", label: "PAN Card", id: "pan" },
    { href: "/voter", label: "Voter ID", id: "voter" },
  ],
  navClass = "nav",
  itemClass = "nav-item",
} = Astro.props;
---

<nav class={navClass}>
  <ul>
    {
      navs.map((nav) => (
        <li>
          <a href={nav.href} class={itemClass} id={nav.id}>
            {nav.label}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
